<div ng-include src="'app/nav/nav.html'"></div>
<div ng-if="add.login==false" ng-include src="'app/register/register.html'"></div>
<div ng-if="add.login!=false">
    <div class="container">
      <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Create child account</h3>
              </div> <!-- /.panel-heading -->
              <div class="panel-body">
                <form>
                  <div class="form-group">

                    <label for="registerUsername">Username</label>
                    <input type="text" class="form-control" id="registerUsername" placeholder="Enter username" required autofocus ng-model="add.createForm.username">
                  </div> <!-- /.form-group -->

                  <div class="form-group">
                    <label for="registerPassword">Password</label>
                    <input type="password" class="form-control" id="registerPassword" placeholder="at least 1 character" required autofocus ng-model="add.createForm.password">
                  </div> <!-- /.form-group -->

                  <div class="form-group">
                    <label for="registerPasswordConfirm">Confirm Password</label>
                    <input type="password" class="form-control" id="registerPasswordConfirm" placeholder="Confirm password" required autofocus ng-model="add.createForm.passwordConfirm">
                  </div> <!-- /.form-group -->

                  <button type="submit" class="btn btn-md btn-primary btn-block" ng-click="add.create()">Create Account</button>

                </form>
              </div> <!-- /.panel-body -->
            </div> <!-- /.panel -->
          </div> <!-- /.col -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
</div>
