<div ng-include src="'app/nav/nav.html'"></div>
<div ng-if="main.login==false" ng-include src="'app/register/register.html'"></div>
<div ng-if="main.login!=false">
    <div class="container">

        <div 
            class="row" 
            ng-repeat="children in main.children track by $index" 
            ng-if="$index % 3 == 0">
            <div 
                class="col-md-4" 
                ng-repeat="i in [$index, $index + 1, $index + 2]" 
                ng-if="main.children[i] != null">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{main.children[i].username}}</h3>
                    </div> <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div style="position: relative; text-align: center; margin-top: 20px">
                            <div style="position: absolute; color: #bbb; top: 50%; bottom: auto; left: 50%; transform: translateY(-50%) translateX(-50%); font-size: 15px;">{{main.children[i].time_rem}}</div>
                            <div
                                round-progress
                                max="120"
                                current="90"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="50"
                                stroke="10"
                                semi="false"
                                rounded="false"
                                clockwise="false"
                                responsive="false"
                                duration="800"
                                animation="easeInOutQuart"
                                animation-delay="0">
                            </div>
                        </div>

                        <div style="width: 100%; height: 10px; border-bottom: 1px solid #eee; text-align: center; margin: 20px 0;">
                            <span style="color: #777; background-color: #fff; padding: 0 10px;">Add / Remove Time</span>
                        </div>

                        <div class="input-group">
                            <select class="form-control" style="width:35%" ng-model="main.timeform.delta.selected[i]">
                                <option ng-repeat="option in main.timeform.delta.choices" value={{main.timeform.delta.data[$index]}}>{{option}}</option>
                            </select>
                            <input type="text" class="form-control" aria-label="..." placeholder="Enter message" style="width:65%;" ng-model="main.timeform.message[i]">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="main.timeform.update(main.children[i].username, i)">Go!</button>
                            </span>
                        </div><!-- /input-group --> 

                        <div style="width: 100%; height: 10px; border-bottom: 1px solid #eee; text-align: center; margin: 20px 0;">
                            <span style="color: #777; background-color: #fff; padding: 0 10px;">History</span>
                        </div>
                        <div style="height: 131px; overflow-y: auto; overflow-x: hidden;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Change</th>
                                    <th>Message</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="time in main.times[main.children[i].username] | orderBy: 'datetime' : true">
                                <td>{{time.change > 0 ? "Add " : "Sub "}}{{time.change | absValue}}</td>
                                <td>{{time.message}}</td>
                            </tr>
                                          
                            </tbody>
                        </table>
                        </div>

                    </div> <!-- /.panel-body -->
                </div> <!-- /.panel -->
            </div> <!-- /.col -->
        </div> <!-- /.row --> 

    </div> <!-- /.container -->
</div>
